/* 匯入google字型 一個import對應一個body */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'); */

.font_Audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

body {
  /* font-family: "Noto Sans TC", sans-serif; */
  /* font-family: "Zen Old Mincho", serif; */
  /* font-family: "Zen Maru Gothic", serif; */
  /* font-family: "IBM Plex Sans JP", sans-serif; */
  /* font-family: "Yusei Magic", sans-serif; */
  /* font-family: "DotGothic16", sans-serif; */
  font-family: "Klee One", cursive;
  /* font-family: "Dela Gothic One", sans-serif; */
  font-optical-sizing: auto;
  /* font-weight: 900;
  font-style: normal; */
}

/* 不見得有這麼多字型選擇 先準備著 */
.fw-100{
  font-weight: 100;
}
.fw-200{
  font-weight: 200;
}
.fw-300{
  font-weight: 300;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fw-900{
  font-weight: 900;
}

/* 公有變數 顏色表 */
:root {
  --mycolor01: #feb75d;
  --mycolor02: #55c9ea;
  --mycolor03: #013b63;
  --mycolor04: #00012b;
  --mycolor05: #eb8f90;
  --mycolor06: #ffb471;
  --mycolor07: #adbed2;
  --mycolor08: #12406a;
  --mytextcolor01: #000;
  --mytextcolor02: #fff;
  --mytextcolor03: #8ad5eb;
  --mytextcolor04: #8a54a2;
  --mytextcolor05: #5954a4;
  --mytextcolor06: #04254e;
  --gymcolormain01: #007BFF;
  --gymcolorlight01: #28A745;
  --gymcolorlight02: #FFC107;
  --gymcolorlight03: #6F42C1;
  --gymcolorlight04: #FFC107;
  --gymcolorlight05: #E83E8C;
  --gymcolordark01: #343A40;
  --gymcolordark02: #001F3F;
  --gymcolorwarn01: #DC3545;
  --gymcolorwarn02: #FF5733;
  --pccolormain01: #003366;
  --pccolormain02: #6699cc;
  --pccolormain03: #99ccff;
  --pccolormain04: #003399;
  --pccolorminor01: #cccccc;
  --pccolorminor02: #333333;
  --pccolorminor03: #e6e6e6;
  --pccolorwarn01: #ff6600;
  --pccolorwarn02: #ffcc00;
  --pccolorwarn03: #ff0000;



}

/* 背景顏色 */
.bg-01 {
  background-color: var(--mycolor01);
}
.bg-02 {
  background-color: var(--mycolor02);
}
.bg-03 {
  background-color: var(--mycolor03);
}
.bg-04 {
  background-color: var(--mycolor04);
}
.bg-05 {
  background-color: var(--mycolor05);
}
.bg-06 {
  background-color: var(--mycolor06);
}
.bg-07 {
  background-color: var(--mycolor07);
}
.bg-08 {
  background-color: var(--mycolor08);
}
.gym-color-main01{
  background-color: var(--gymcolormain01);
}
.gym-color-light01{
  background-color: var(--gymcolorlight01);
}
.gym-color-light02{
  background-color: var(--gymcolorlight02);
}
.gym-color-light03{
  background-color: var(--gymcolorlight03);
}
.gym-color-light04{
  background-color: var(--gymcolorlight04);
}
.gym-color-light05{
  background-color: var(--gymcolorlight05);
}
.gym-color-dark01{
  background-color: var(--gymcolordark01);
}
.gym-color-dark02{
  background-color: var(--gymcolordark02);
}
.gym-color-warn01{
  background-color: var(--gymcolorwarn01);
}
.gym-color-warn02{
  background-color: var(--gymcolorwarn02);
}
.pc-color-main01{
  background-color: var(--pccolormain01);
}
.pc-color-main02{
  background-color: var(--pccolormain02);
}
.pc-color-main03{
  background-color: var(--pccolormain03);
}
.pc-color-main04{
  background-color: var(--pccolormain04);
}
.pc-color-minor01{
  background-color: var(--pccolorminor01);
}
.pc-color-minor02{
  background-color: var(--pccolorminor02);
}
.pc-color-minor03{
  background-color: var(--pccolorminor03);
}
.pc-color-warn01{
  background-color: var(--pccolorwarn01);
}
.pc-color-warn02{
  background-color: var(--pccolorwarn02);
}
.pc-color-warn03{
  background-color: var(--pccolorwarn03);
}


/* 文字顏色 */
.text-color01 {
  color: var(--mytextcolor01);
}
.text-color02 {
  color: var(--mytextcolor02);
}
.text-color03 {
  color: var(--mytextcolor03);
}
.text-color04 {
  color: var(--mytextcolor04);
}
.text-color05 {
  color: var(--mytextcolor05);
}
.text-color06 {
  color: var(--mytextcolor06);
}
.text-gym-color-main01{
  color: var(--gymcolormain01);
}
.text-gym-color-light01{
  color: var(--gymcolorlight01);
}
.text-gym-color-light02{
  color: var(--gymcolorlight02);
}
.text-gym-color-light03{
  color: var(--gymcolorlight03);
}
.text-gym-color-light04{
  color: var(--gymcolorlight04);
}
.text-gym-color-light05{
  color: var(--gymcolorlight05);
}
.text-gym-color-dark01{
  color: var(--gymcolordark01);
}
.text-gym-color-dark02{
  color: var(--gymcolordark02);
}
.text-gym-color-warn01{
  color: var(--gymcolorwarn01);
}
.text-gym-color-warn02{
  color: var(--gymcolorwarn02);
}
.text-pc-color-main01{
  color: var(--pccolormain01);
}
.text-pc-color-main02{
  color: var(--pccolormain02);
}
.text-pc-color-main03{
  color: var(--pccolormain03);
}
.text-pc-color-main04{
  color: var(--pccolormain04);
}
.text-pc-color-minor01{
  color: var(--pccolorminor01);
}
.text-pc-color-minor02{
  color: var(--pccolorminor02);
}
.text-pc-color-minor03{
  color: var(--pccolorminor03);
}
.text-pc-color-warn01{
  color: var(--pccolorwarn01);
}
.text-pc-color-warn02{
  color: var(--pccolorwarn02);
}
.text-pc-color-warn03{
  color: var(--pccolorwarn03);
}

/* 邊框 */
.myborder-01 {
  border: var(--mycolor05) 4px dashed;
}
.myborder-02 {
  border: var(--mycolor06) 3px double;
}
.myborder-03 {
  border: var(--mycolor07) 5px solid;
}
.myborder-04 {
  border: var(--mycolor08) 10px dotted;
}

/* 按鈕 */
.bg-btn01 {
  background-color: var(--mycolor07);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px var(--mycolor04);
  margin-right: 10px;
}
.bg-btn01:hover {
  background-color: var(--mycolor05);
  color: var(--mytextcolor04);
  box-shadow: 2px 2px 2px 2px var(--mytextcolor02);
}
.bg-btn02 {
  background-color: var(--mytextcolor04);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px var(--mytextcolor01);
  margin-right: 10px;
  color: var(--mytextcolor02);
}
.bg-btn02:hover {
  background-color: var(--mytextcolor01);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px var(--mytextcolor02);
  margin-right: 10px;
  color: var(--mytextcolor02);
}
.bg-btn03 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: var(--mytextcolor01);
  font-size: 14pt;
  font-family: "標楷體";
  background-color: var(--mytextcolor03);
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px var(--mytextcolor01);
  margin-right: 10px;
}
.bg-btn03:hover {
  background-color: var(--mytextcolor06);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px var(--mytextcolor03);
  margin-right: 10px;
  color: var(--mytextcolor03);
}
.bg-btn04 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: var(--mytextcolor06);
  font-size: 14pt;
  /* font-family: "標楷體"; */
  background-color: var(--mycolor01);
  border-radius: 8px;
  box-shadow: 1px 1px 3px 2px var(--mytextcolor05);
  margin-right: 10px;
}
.bg-btn04:hover {
  background-color: var(--mycolor05);
  box-shadow: 1px 1px 4px 2px var(--mytextcolor05);
  color: var(--mytextcolor01);
}
.bg-btn05 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  color: var(--mytextcolor01);
  font-size: 14pt;
  /* font-family: "標楷體"; */
  background-color: var(--mytextcolor04);
  border-radius: 8px;
  box-shadow: 1px 1px 3px 2px var(--mycolor04);
  margin-right: 10px;
}
.bg-btn05:hover {
  background-color: var(--mytextcolor05);
  box-shadow: 1px 1px 4px 2px var(--mycolor04);
  color: var(--mytextcolor02);
}
.bg-btn06 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  color: var(--mytextcolor02);
  font-size: 16pt;
  /* font-family: "標楷體"; */
  background-color: var(--pccolormain01);
  border-radius: 8px;
  box-shadow: 1px 1px 3px 2px var(--mycolor04);
  margin-right: 10px;
}
.bg-btn06:hover {
  background-color: var(--pccolormain03);
  box-shadow: 1px 1px 3px 2px var(--mycolor04);
  color: var(--mytextcolor01);
}
/* 背景圖 */
.bg-cover {
  background-position: center center;
  background-size: cover;
}

/* 卷軸特效 外層box_roller 內層roller */
.box_roller{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.roller{
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--mytextcolor02);
}
.box_roller:hover .roller{
  top: 0;
  transition: top 2s;
}

/* 回首頁按鈕 */
.goTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  transform: translateX(0);
  transition: transform 0.2s;
}
.goTop.hide {
  transform: translateX(120%);
}

/* 首頁版面 - navbar */
.font_color01 {
  color: #003366;
}

.navbar_link_hover:hover {
  color: #99ccff;
}

.navbar_shop_hover:hover {
  color: #ffcc00;
}

.member_button{
  text-decoration: none;
  color: #003366;
}

.member_button:hover{
  color: #4169e1;
}

.edit_member_button{
  text-decoration: none;
  color: #003366;
}

.edit_member_button:hover{
  color: #ff6600;
}

.logout_button{
  text-decoration: none;
  color: #003366;
}

.logout_button:hover{
  color: #ff0000;
}

/* 首頁版面 - 幻燈片 */
.slider_photo01{
  background-image: url(images/front/slider/slider01.png);
  height: 94vh;
}
.slider_photo02{
  background-image: url(images/front/slider/slider02.gif);
  height: 94vh;
}
.slider_photo03{
  background-image: url(images/front/slider/slider03.gif);
  height: 94vh;
}
.slider_photo04{
  background-image: url(images/front/slider/slider04.png);
  height: 94vh;
}
.slider_photo05{
  background-image: url(images/front/slider/slider05.gif);
  height: 94vh;
}

/* 首頁版面 - 產品圖片位置 */
.product_images_ring01{
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 300;
}
.product_images_ring02{
  position: absolute;
  top: 15%;
  right: 0%;
  width: 400px;
  z-index: 200;
}
.product_images_ring03{
  position: absolute;
  top: 20%;
  right: 40%;
  width: 300px;
  z-index: 100;
}
.product_title_ring01{
  position: absolute;
  top: 40%;
  z-index: 500;
}
.product_text_ring01{
  position: absolute;
  bottom: 15%;
  z-index: 400;
}
.product_images_ring04{
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 300;
}
.product_images_ring05{
  position: absolute;
  top: 15%;
  left: 0%;
  width: 400px;
  z-index: 200;
}
.product_images_ring06{
  position: absolute;
  top: 20%;
  left: 40%;
  width: 300px;
  z-index: 100;
}
.product_title_ring02{
  position: absolute;
  top: 40%;
  right: 0%;
  z-index: 500;
}
.product_text_ring02{
  position: absolute;
  bottom: 15%;
  right: 0%;
  z-index: 400;
}

/* 首頁版面 - 產品解說 */ 
.product_r_card_img01{
  background-image: url('images/front/product_recommend/recommend01.png');
  height: 50vh;
}
.product_r_card_img02{
  background-image: url('images/front/product_recommend/recommend02.png');
  height: 50vh;
}
.product_r_card_img03{
  background-image: url('images/front/product_recommend/recommend03.png');
  height: 50vh;
}
.product_r_card_img04{
  background-image: url('images/front/product_recommend/recommend04.png');
  height: 50vh;
}

/* 響應式網頁設計RWD 倒著思考max/min */
/* md-768以下 */
/* @media screen and (max-width:768px){
} */

/* md-768以上 */
/* @media screen and (min-width:768px){
} */

/* table-rwd */
@media screen and (max-width:992px){
  .table-rwd thead{
      display: none;
  }
  .table-rwd tbody tr{
      display: block;
      margin-top: 10px;
      border: 5px var(--mytextcolor04) dotted;
  }
  .table-rwd tbody td{
      display: block;
      overflow: hidden;
  }
  .table-rwd tbody td::before{
      content: attr(data-th)" : ";
      display: block;
      width: 6em;
      color: var(--mycolor03);
      font-weight: bolder;
      float: left;
      text-align: right;
      padding-right: 1em;
  }
  .table-rwd tbody tr td span.table-col{
      display: block;
      float: left;
      width: calc(100% - 6em);
  }
}